
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:black;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );*/
    /*background-attachment:fixed;*/
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

#deviceready {

	margin: 0 auto;
	overflow:none;}
	
#small_logo {
	margin: 10px auto 10px 10px}

#back_btn{
	float:right}
/* Portrait layout (default) */
.app {
    text-align:center;
	padding-top: 5%;
	padding-bottom: 28%;
                                   /* offset horizontal: half of text area width */
}

.app img{
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 5% auto}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
 
	.app {
		margin: 50px auto;}
}


div.btn{
	float: none;
	overflow:hidden;
	}
	
	button{
		padding: 10px;
		float:none;
		overflow:hidden;}
		
		button a{
			float: none;
			overflow:hidden;}

div.btn_img{
	width: 100px;
	float:left}
	
	.btn_img img{
		width: 100px}

div.btn_text{
	float:right;
	overflow:hidden;
	text-align: right;
	position:relative;
	bottom: 5px;
	}
	
	.btn_text p {
		font-family:Arial, Helvetica, sans-serif;
		color: white;
		}
	.btn_text  h1{
		color:white;
		text-align:right;
		font-family:Arial, Helvetica, sans-serif;
		text-transform: uppercase;}
		
#loginForm {
	}
		
	#metro_logo{
		text-align:center;
		margin: 30px auto}
		

	#checkbox{
		position:relative;
		overflow:hidden
		}
		.checkbox{
			position:relative;
			padding-left:-20px;
			}
			
			
		
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


